.profilnaSlika {
	border-radius: 30px;
}

h1 {
	text-decoration: underline;
}

.prviPodnaslov {
	color: rgb(193, 14, 142);
}

.aquaPozadina {
	background-color: aqua;
}

.centrirano {
	text-align: center;
}
